<!--Footer-->
    <footer class="bg-light text-lg-start">
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
        
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://github.com/malazarocom">Miguel</a>
    </div>
    <!-- Copyright -->
    </footer>
<!--Footer-->